<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nize.example.com.checklotto">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoonload"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoonload"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".CheckLottery" />
        <activity android:name=".Top" />
        <activity android:name=".History" />
        <activity android:name=".NumberHistory" />
    </application>

</manifest>